html,
body {
  background-color: #101C2B;
  padding: 0;
  margin: 0;
  font-family: "Gotham Pro", sans-serif;
}

p{
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
